.site-table .site-table__row {
  background-color: white;
  border: 3px solid white;
  box-sizing: border-box;
}

.site-table .site-table__row:hover {
  background-color: #ccc;
}

.site-table__row-password {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}
