.suggest-password {
  position: absolute;
  top: 145px;
  background-color: white;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 264px;
  height: 40px;
  margin-top: 68px;

  font-size: 0.7rem;
  line-height: 40px;
  cursor: pointer;
  z-index: 1000;
}

.suggest-password:hover {
  background-color: #ccc;
}
