.home__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home__welcome {
  display: flex;
  width: 100%;
  padding: 30px;

  color: #00ff00;
  font-style: normal;
  font-weight: bolder;
  font-size: 3rem;
  user-select: none;
}

.table-container {
  background-color: black;
  color: #00ff55;
  padding: 20px;
}

.table-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.site-table tr {
  background-color: #060606;
}

.site-table tr:hover {
  background-color: #060606;
}

.site-table th,
.site-table td {
  border: none;
  padding: 10px;
}

.site-table td:first-child {
  font-weight: bold;
}
