.titlebar {
  height: 30px;
  background: white;
  color: black;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.window-icon {
  color: black;
  font-size: 20px;
}

.titlebar-title {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  width: 53%;
}

.titlebar-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.titlebar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
}

.titlebar-button:hover {
  background: #1900ff;
  color: black;
}
