.edit-dialog {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: black; /* Set the background color to black */
  color: orange; /* Set the font color to orange */
  border-radius: 5px;
  overflow: hidden;
}

/* Style the dialog content */
.edit-dialog p {
  font-size: 18px;
  margin-bottom: 15px;
}

.edit-dialog__form {
  width: 80%;
}

.edit-dialog__input-container {
  position: relative;
}

/* Style the input fields */
.edit-dialog__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.edit-dialog__suggest-password {
  position: absolute;
  top: 145px;
  background-color: white;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 264px;
  height: 40px;
  margin-top: 68px;

  font-size: 0.7rem;
  line-height: 40px;
  cursor: pointer;
  z-index: 1000;
}

.edit-dialog__suggest-password:hover {
  background-color: #ccc;
}

.edit-dialog__form-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

/* Style the OK button */
.edit-dialog__form-button {
  background-color: orange;
  color: white;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-dialog__form-button:hover {
  background-color: #ff8000; /* Darker orange on hover */
}
